<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    {% set pageTitle = title %}
    <title>{{ pageTitle }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ config.paths.src }}/css/vendor/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="{{ config.paths.src }}/css/styles.css" />
    <link rel="stylesheet" href="{{ config.paths.src }}/css/themes/default.css" />
  </head>

  <body class="bg-gray-dark">
    <main>
      {% block content %}
        {{ content | safe }}
      {% endblock content %}
    </main>
    <footer>

    </footer>

    <!-- Scripts -->
    <script src="{{ config.paths.src }}/js/vendor/bootstrap.min.js"></script>
  </body>
</html>