---
layout: 'default'
title: Homepage
---

<div class="container">
  <div class="row pt-4">
    <div class="col-12">
      <h2 class="text-white text-center">Welcome to Gridless.LAN</h2>
      <h5 class="text-muted text-center">The off-grid LAN, by people, for people.</h5>
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-12">
      <p class="text-center text-muted">
        Gridless.LAN is a free initiative where people can freely communicate and share knowledge and information around.<br />
        Anyone that is in range and got his or her interest piqued is allowed to join in! The more, the merrier!<br />
      </p>

      <p class="text-center text-muted">
        If you need more information, please feel free to visit our wiki (on-location only):<br />
        <a href="https://wiki.gridless-lan.nl">Visit Wiki</a>
      </p>
    </div>
  </div>
</div>