@import 'components/background';

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark);
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

